.card{
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 0.8);
  box-shadow: 5px 5px 5px hsla(0, 0%,0%, 0.1);
  padding:20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
}